version: '3.3'
services:
  node:
    restart: unless-stopped
    build:
      context: .
    image: "stakeholder/watchdog:4.0.0"
    volumes:
      - ./.env:/app/.env:ro

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400
