version: '2'
services:
  node:
    image: node:11
    restart: always
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    environment:
      NODE_ENV: production
    command: sh -c "npm install && npm start"
