version: '3.7'
services:
  node:
    restart: always
    build:
      context: .
    image: minter-watchdog
    container_name: minter-watchdog
    volumes:
      - ./config.js:/app/config.js
    working_dir: /app
