version: '2'
services:
  node:
    image: node:11
    volumes:
      - ./:/usr/src/app
    working_dir: /usr/src/app
    environment:
      NODE_ENV: production
    command: sh -c "npm install && npm start"
